/* app/(painel)/personalizar/components/Preview.module.css */

.previewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    overflow: hidden;
}

.iframeBase {
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: width 0.3s ease, height 0.3s ease;
}

.desktopPreview {
    width: 100%;
    height: 100%;
}

.mobilePreview {
    width: 375px; /* Largura padrão de um iPhone */
    height: 667px; /* Altura padrão de um iPhone */
}

@media (max-width: 768px) {
    .previewContainer {
        padding: 10px;
    }
    .desktopPreview {
        display: none;
    }
    .mobilePreview {
        width: 100%;
        height: 100%;
        max-width: 375px;
        max-height: 812px; /* Altura para simular um celular maior */
    }
}
