/* src/components/Sidebar.module.css */

.sidebar {
  width: 280px;
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 2px 0 8px #6b21a8(0, 0, 0, 0.04);
  padding: 0rem 0;
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza a logo */
  position: relative;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  max-width: 150px;
  height: auto;
  
}

.backButton {
  position: absolute; /* Posição absoluta para o botão, que não afeta a centralização da logo */
  left: 0rem; /* Alinhado à esquerda */
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #6b21a8;
  cursor: pointer;
  transition: opacity 0.2s ease;
  padding: 4px;
  border-radius: 4px;
}

.backButton:hover {
  opacity: 0.8;
  background-color: #f0f2f5;
}

.backButton svg {
  color: inherit;
}

.title {
  font-size: 1.0rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.0rem;
  padding: 0 1rem;
  text-align: left;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 1rem;
  background: transparent;
  border: none;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.menuItem:hover {
  background-color: #f0f0f0;
  color: #6b21a8;
}

.active {
  background-color: #e6e0f5;
  border-left: 4px solid #6b21a8;
  color: #6b21a8;
  font-weight: 600;
}

.icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  color: inherit;
}

.menuText {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    overflow-x: auto;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
    box-shadow: none;
    white-space: nowrap;
  }

  .topbar {
    display: none;
  }

  .title {
    display: none;
  }

  .menuItem {
    padding: 0.5rem 0.8rem;
    font-size: 14px;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    min-width: 80px;
  }

  .menuItem .icon {
    font-size: 18px;
  }

  .menuText {
    font-size: 12px;
    flex: none;
    white-space: normal;
    text-align: center;
  }
}